[user]
	name = James Tooze
	email = toozej@gmail.com
    signingkey = 6EF0A7E0E50C0A9CD402B878676B55E7B4896375
[core]
	editor = vim
	autocrlf = input
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'
[commit]
	gpgsign = true
[gpg]
	program = gpg2
